:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

/*RESTO DEL CSS*/

* {
  border-radius: 8px;
}

body {
  background-color: rgba(174, 165, 165, 0.199);
  display: grid;
  margin: 0 auto;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 28px;
}

header {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: var(--blue-color);
  color: white;
  text-align: center;
  align-items: center;
  padding: 10px;
}

header > h1 {
  text-transform: uppercase;
}

header > p {
  margin-top: 60%;
  font-weight: 300;
}

section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 6px rgba(87, 83, 83, 0.199);
}

.school {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.student {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: var(--border);
  background-color: aliceblue;
  color: #2bc5cd;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
}

.time {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.alumni {
  grid-column: 1 / 2;
  grid-row: 3/ 4;
}

footer {
  grid-column: 2 / 4;
  grid-row: 3/ 4;
  background-color: var(--orange-color);
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

button{
  padding: 20px 40px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .ody{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit);
  }
  header{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  header > p {
    margin: 15%;
  }
  .school{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .student{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  main{
    grid-column: 1/2;
    grid-row: 4/5;
    height: 200px;
  }
  .time{
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .alumni{
    grid-column: 1/2;
    grid-row: 7/8;
  }
  footer{
    grid-column: 1/2;
    grid-row: 8/9;
    text-align: center;
  }
}
/*Ya lo he intentado de mil formas y esto último del responsive no lo logro hacer en pocas líneas de código*/